<style type="text/css">
	 {/*stlye for index page*/ }

	 /*header*/
	.header {
	  position: relative;
	  height: 60%;
	  background-image: linear-gradient(#ff9d2f, #ff6126);
	}

	svg {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 100px;
	}

	@media (max-width: 699px) {
	  .svg--lg {
	    display: none;
	  }
	}

	@media (min-width: 700px) {
	  .svg--sm {
	    display: none;
	  }
	}

	#logo{
		position: relative;
		margin-top: -35px; 
		width: 400px; height: 300px;
	}

	#line{
		position: relative;
		top: -
	}

	.headText1{
		font-size:50px;
		position: relative;
		top: -17px;
		right: 100px;
	}

	.headText2{
		font-size:20px;
		position: relative;
		top:-32px;
		right:20px;
	}

	.headText3{
		font-size: 20px;
		position: relative;
		top: -20px;
		right: 10px;
	}

	/*footer*/
	.footer {
		background-color: #eff1f2;
	   	position: fixed;
	   	left: 0px; bottom: 0;
	   	padding: 15px;
	   	width: 100%; 
	   	font-weight: bold;
	   	font-size: 16px;
	}

	/*button part*/
	button {
		position: relative; 
		background-color: white; 
		padding: 16px 32px;	   	
	  	text-align: center;
	   	font-size: 16px;
    	font-weight: bold;	   		  	
		cursor: pointer;
	}

	.btnSignIn{
		position: relative;top: -45px; left: 20px;
		background-color: #5fbee9; 	   	
	  	text-align: center;
	  	color: white;
	   	font-size: 16px;	
	   	border: 4px solid #5fbee9;   
	   	border-radius : 15px;		  	
	}

	.btnSignIn:hover {
		background-color: #35ace3;
		border: solid #35ace3;
	}

	.btnSignUp{
		position: relative; top: -45px;
		background-color: white; 
		text-align: center;
	   	color: #5fbee9;	   		  	
	   	font-size: 16px;	
	   	border: 4px solid white;   	
	   	border-radius : 15px;	  	
	}


	.btnSignUp:hover {
		background-color: #e6e6e6;
		border: solid #e6e6e6;
	}

	.btnOnPopUp{
		position: relative; top: 10px;
		background-color: #5fbee9; 	 
		width: 90%;  	
	  	text-align: center;
	  	color: white;
	   	font-size: 16px;	
	   	border: 4px solid #5fbee9;   
	   	font-family: Comic Sans MS;	  	
	}

	.btnOnPopUp:hover {
		background-color: #35ace3;
		border: solid #35ace3;
	}

	.topBtn{
		display: none;
	  	position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		background-color: ;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 5px;
	}

	/*box pop up part*/
	input[type=text], input[type=password] {
	    width: 90%;
	    padding: 12px 20px;
	    margin: 8px 26px;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
		font-size:16px;
	}

	.box {
		display:none;
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0,0,0,0.4);	    
	}

	.box-content {
		position: relative;
	    background-color: #fefefe;
	    margin: 4% auto 15% auto; top: 50px;
	    border: 1px solid #888;
	    width: 40%; 
		padding-bottom: 30px;
		border: 2px solid #5fbee9; 
		border-radius : 15px;
	}

	.imgcontainer {
	    text-align: center;
	    margin: 20px 0 12px 0;
	    position: relative;
	}
	.close {
	    position: absolute;
	    right: 15px;
	    top: -20;
	    color: #000;
	    font-size: 30px;
	    font-weight: bold;
	}
	.close:hover,.close:focus {
	    color: red;
	    cursor: pointer;
	}

	.headBox{
		position: absolute;
  		top: 0; left: 0;
		width: 100%;
		height: 60px;
		background-color: #5fbee9;
		border-radius: 15px  15px 0 0;
		text-align: center;
		font-family: Comic Sans MS;
		color: white;
		font-size: 30px;
		font-weight: bold;
	}
	
	.animate {
        animation: zoom 0.3s
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }
</style>
